*{
    margin: 0;
    padding: 0;
    border: 0;
}

div{
    width: 400px;
    height: 400px;
    border: 1px solid black;
    margin: 30px auto;
    /*background-color: rgba(194, 24, 91, 0.8);*/
    /*background: linear-gradient(to left, #F4511E, #7E57C2);*/
    background: radial-gradient(circle, #F4511E, #7E57C2);
}